.weather-wrapper {
    display: flex;
    flex-direction: column;
}

.weather-fetching-loader {
    height: 40vmin;
    pointer-events: none;

    &[data-is-fetching="true"] {
        display: block;
    }

    &[data-is-fetching="false"] {
        display: none;
    }
}

.weather-forecasts {
    &[data-is-fetching="true"] {
        display: none;
    }

    &[data-is-fetching="false"] {
        display: flex;
        flex-direction: column;
    }

    .forecastWrapper {
        width: 100%;
        display: flex;
        height: 54px;
        padding: 6px 10px;

        &[data-index="0"] {
            background-color: white;
            color: black;
        }

        &[data-index="1"] {
            background-color: coral;
            color: white;
        }
    }
}